[includeIf "gitdir:~/Code/"]
    path = ~/.gitconfig_personal
[includeIf "gitdir:~/Code/arex/"]
    path = ~/.gitconfig_arex
[includeIf "gitdir:~/Code/go/src/github.com/arexio/"]
    path = ~/.gitconfig_arex

[url "git@github.com:"]
	insteadOf = https://github.com/

[color]
  diff = auto
  status = auto
  branch = auto

[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = vim

[fetch]
  prune = true

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[apply]
  whitespace = fix

[init]
	defaultBranch = main

