# If you modify this execute `zimfw uninstall & zimfw install`

zmodule zimfw/environment
zmodule zimfw/git-info
zmodule zimfw/input
zmodule zimfw/prompt-pwd

zmodule zsh-users/zsh-autosuggestions

zhighlighters=(main brackets)

# eriner's prompt theme
#zmodule eriner
zmodule romkatv/powerlevel10k --use degit
